<div class="side_bar">
	<!--
	Subscribe with RSS
	-->
<ul>
	<!-- Twitter -->
	<li><a onclick="_gaq.push(['_trackEvent', 'Subscribe', 'Twitter', 'Side Bar']);" href="https://twitter.com/neokya" class="twitter-follow-button" data-show-count="true">Follow @neokya</a></li>
	<!--
	Facebook Subscribe
	-->
	<li>
	<iframe src="//www.facebook.com/plugins/subscribe.php?href=https%3A%2F%2Fwww.facebook.com%2Fhardin.brett&amp;layout=button_count&amp;show_faces=true&amp;colorscheme=light&amp;font&amp;width=220&amp;appId=408184379218327" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height: 30px;" allowTransparency="true"></iframe>
	</li>
</ul>

	<h2>Popular Articles</h2>
	<div class="trending_content">
		{% include trending_content.html %}
	</div>
</div>
