<ul class="thumbnails">
  <li class="span4">
    <a href="/about" class="thumbnail">
      <img src="assets/images/neoiii.jpg" alt="Me">
    </a>
  </li>
</ul>
	<!--
	Subscribe with RSS
	-->
<ul>
	<!-- Twitter -->
	<li><a onclick="_gaq.push(['_trackEvent', 'Subscribe', 'Twitter', 'Side Bar']);" href="https://twitter.com/neokya" class="twitter-follow-button" data-show-count="true">Follow @neokya</a></li>
</ul>

	<h2>Popular Articles</h2>
	<div class="trending_content">
		{% include trending_content.html %}
	</div>
</div>
